<!DOCTYPE html>
<html>
<head>
  <title>Letter Match</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>

  {% block content %}
  {% endblock %}


<script type="module" src="{{ url_for('static', filename='js/game.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/check.js') }}"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>